<div id="titlebar">
    <span id="pageTitle"><i class="fa fa-shekel fa-flip-horizontal"></i>&nbsp;{{title}} {{#if developmentMode}}DEVELOPMENT MODE{{/if}}</span>
    <input type="checkbox" class="hamburger" title="Menu">
    <div id="nav" ng-controller="TabController">
        <a ng-repeat="tab in tabs" class="navButton {[{tab.default}]}" ng-click="switchTab(tab)"><i class="fa {[{tab.icon}]}"></i>&nbsp;{[{tab.name}]}</a>
    </div>
    <span id="searchBar"><input class="search" type="search" placeholder="search" ng-model="text" ng-controller="TabController" ng-change="search()"></span><!--TODO: move search from TabController-->
    <div id="profile" class="navButton">
        {{#if user}}
            <img src="{{user.avatar}}" class="avatar userlevel-{{user.userlevel}}" id="userAvatar">
            <span id="displayUsername" class="username userlevel-{{user.userlevel}}">{{user.username}} &#x25BC;</span>
            <div id="loginDropdown">
                {{>user}}
                <ul>
                    <li><a href="#" ng-click="$emit('openModal', 'settings')">Settings</a></li>
                    <li><a href="auth/logout">Log out</a></li>
                </ul>
            </div>
        {{else}}
            <img src="img/album.png" class="avatar" id="userAvatar">
            <span id="displayUsername" class="username">Log In &#x25BC;</span>
            <div id="loginDropdown">
                <img src="img/album.png" class="avatar">
                <span class="username">Guest</span>
                <a href="auth/google"><div class="login login-google"><i class="fa fa-google"></i> Sign In With Google</div></a>
                <a href="auth/twitter"><div class="login login-twitter"><i class="fa fa-twitter"></i> Sign In With Twitter</div></a>
            </div>
        {{/if}}

    </div>
</div>
<div id="sidebarContainer" ng-controller="SongController">
    <div id="albumArtContainer">
        <img src="img/album.png" id="albumArt">
        <div id="albumOverlay">
            <span title="Rate Up" class="songRate"><i class="fa fa-thumbs-up"></i></span>
            <span title="Rate Down" class="songRate"><i class="fa fa-thumbs-down"></i></span>
        </div>
    </div>
    <span id="nowPlayingLabel" class="secondaryText">Now Playing</span>
    <span id="currentSong">{[{nowPlaying.title}]}</span>
    <span id="currentArtist" class="secondaryText">{[{nowPlaying.artist}]}</span>
    <rzslider id="timeElapsedBar" ng-class="{'smoothUpdate': nowPlaying.normalPlay}" class="seekBar" rz-slider-options="progressBar.options" rz-slider-model="nowPlaying.elapsed"></rzslider>
    <span id="currentTime">
            {[{nowPlaying.elapsed | secondsToDateTime | date:'mm:ss'}]}/{[{nowPlaying.duration | secondsToDateTime | date:'mm:ss'}]}
    </span>
    <div id="controls" class="weeBox">
        <i class="control fa fa-backward" title="Backward"></i>
        <i class="control fa" title="Play/Pause" ng-click="togglePlaying()" ng-class="audioPlayer.paused ? 'fa-play' : nowPlaying.buffering ? 'fa-shekel fa-spin' : 'fa-pause'"></i>
        <i class="control fa fa-forward" title="Forward" ng-click="playNext()"></i>
        <div id="lesserControls">
            <i class="control fa fa-random" title="Shuffle" ng-class="{'enabled': settings.shuffle}" ng-click="settings.shuffle = !settings.shuffle"></i>
            <i class="control fa fa-play-circle" title="Auto-play" ng-class="{'enabled': settings.autoplay}" ng-click="settings.autoplay = !settings.autoplay"></i>
            <i class="control fa fa-retweet" title="Repeat" ng-class="{'enabled': settings.repeat}" ng-click="settings.repeat = !settings.repeat"></i>
        </div>
        <rzslider id="volumeBar" rz-slider-options="progressBar.volumeOptions" rz-slider-model="audioPlayer.volume"></rzslider>
    </div>
    <div id="queue" class="weeBox">
        <span id="queueTitle" class="weeBoxTitle">Queue</span>
        <div id="songListQueue" class="songList">
            <span ng-repeat="song in queue" class="song" data-id="{[{song.id}]}" data-artist="{[{song.artist}]}" data-album="{[{song.album}]}">{[{song.artist}]}&nbsp;-&nbsp;{[{song.title}]}</span>
        </div>
    </div>
</div>
<ul class="fa-ul contextMenu" id="songContextMenu" ng-controller="ContextMenuController">
    <li ng-click="ctxAddToQueue($event)"><i class="fa fa-fw fa-plus"></i> Add to Queue</li>
    <li ng-click="ctxPlayNext($event)"><i class="fa fa-fw fa-fast-forward"></i> Play Next</li>
    <li ng-click="ctxAddToPlaylist($event)"><i class="fa fa-fw fa-plus"></i> Add to Playlist</li>
    <li ng-click="ctxViewAlbum($event)"><i class="fa fa-fw fa-square"></i> Go to Album</li>
    <li ng-click="ctxViewArtist($event)"><i class="fa fa-fw fa-user"></i> Go to Artist</li>
    <li ng-click="ctxSongInfo($event)"><i class="fa fa-fw fa-info-circle"></i> Song Info</li>
</ul>
<div id="tabContainer" ng-controller="TabController">
</div>
<div id="modalShadow" ng-controller="ModalController">
    <div id="modalBox">
    </div>
</div>
<script type="text/ng-template" id="loading">
    <i class="fa fa-shekel fa-spin fa-3x fa-flip-horizontal loading"></i>
</script>
<script type="text/ng-template" id="error">
    <div id="errorBox">An error occurred loading this page.<br>Please wait a few seconds and try again.<br><span class="secondaryText">{[{message}]}</span></div>
</script>
