{{!
    NAVBAR
}}
<div id="titlebar">
    <span id="pageTitle"><i class="fa fa-shekel fa-flip-horizontal" aria-hidden="true"></i>&nbsp;{{title}} {{#if developmentMode}}<span id="developmentMode" class="debug">DEVELOPMENT MODE</span>{{/if}}</span>
    <input type="checkbox" class="hamburger" title="Menu">
    <div id="nav" ng-controller="TabController" role="menubar">
        <a ng-repeat="tab in tabs" class="navButton {[{tab.default}]}" ng-click="switchTab(tab)"><i class="fa {[{tab.icon}]}"></i>&nbsp;{[{tab.name}]}</a>
    </div>
    <span id="searchBar"><input class="search" type="search" placeholder="search" ng-model="text" ng-controller="TabController" ng-change="search()"></span><!--TODO: move search from TabController-->
    <div id="profile" class="navButton">
        {{#if user}}
            <img src="{{user.avatar}}" class="avatar userlevel-{{user.userlevel}}" id="userAvatar">
            <span id="displayUsername" class="username userlevel-{{user.userlevel}}">{{user.username}} &#x25BC;</span>
            <div id="loginDropdown">
                {{>user}}
                <ul>
                    <li><a href="javascript:void(0);" ng-click="$emit('openModal', 'settings')">Settings</a></li>
                    <li><a href="javascript:void(0);" ng-click="$emit('openModal', 'modals/accountHistory')">History</a></li>
                    <li><a href="javascript:void(0);" ng-click="$emit('openModal', 'modals/about')">About</a></li>
                    <li><a href="auth/logout">Log out</a></li>
                </ul>
            </div>
        {{else}}
            <img src="img/album.png" class="avatar" id="userAvatar">
            <span id="displayUsername" class="username">Log In &#x25BC;</span>
            <div id="loginDropdown">
                <img src="img/album.png" class="avatar">
                <span class="username">Guest</span>
                <a href="auth/google"><div class="login login-google"><i aria-hidden="true" class="fa fa-google"></i> Sign In With Google</div></a>
                <a href="auth/twitter"><div class="login login-twitter"><i aria-hidden="true" class="fa fa-twitter"></i> Sign In With Twitter</div></a>
            </div>
        {{/if}}

    </div>
</div>
{{!
    SIDEBAR
}}
<div id="sidebarContainer" ng-controller="SongController">
    <div ng-if="serverIssues" id="serverIssuesBox">
        There appears to be a connection issue.
    </div>
    <div id="albumArtContainer">
        <img src="img/album{{#if christmasMode}}-christmas{{/if}}.png" id="albumArt" title="Album Art" aria-label="Album Art">
        <div id="albumOverlay">
            <span id="songRateUp" title="Rate Up" aria-label="Rate Up" class="songRate" ng-click="rateSongUp()"><i aria-hidden="true" class="fa fa-thumbs-up"></i></span>
            <span title="Song Info" aria-label="Song Info" class="songRate" ng-click="$emit('openModal', 'modals/songInfo/'+nowPlaying.id);"><i aria-hidden="true" class="fa fa-ellipsis-h"></i></span>
            <span id="songRateDown" title="Rate Down" aria-label="Rate Down" class="songRate" ng-click="rateSongDown()"><i aria-hidden="true" class="fa fa-thumbs-down"></i></span>
        </div>
    </div>
    <span id="nowPlayingLabel" class="secondaryText">Now Playing</span>
    <span id="currentSong">{[{nowPlaying.title}]}</span>
    <span id="currentArtist" class="secondaryText" ng-click="playArtist(nowPlaying.artistID)" title="See more by this artist">{[{nowPlaying.artist}]}</span>
    <rzslider id="timeElapsedBar" ng-class="{'smoothUpdate': nowPlaying.normalPlay}" class="seekBar" rz-slider-options="progressBar.options" rz-slider-model="nowPlaying.elapsed"></rzslider>
    <span id="currentTime">
            {[{nowPlaying.elapsed | secondsToDateTime | date:'mm:ss'}]}/{[{nowPlaying.duration | secondsToDateTime | date:'mm:ss'}]}
            {{!--{{#if developmentMode}}--}}
                {{!--<br>S: {[{nowPlaying.id}]}--}}
                {{!--<br>A: {[{nowPlaying.artistID}]}--}}
            {{!--{{/if}}--}}
    </span>
    <div id="controls" class="weeBox" role="menu">
        <i role="menuitem" aria-label="Backward" class="control fa fa-backward" title="Backward"></i>
        <i role="menuitem" aria-label="Play/Pause" class="control fa" title="Play/Pause" ng-click="togglePlaying()" ng-class="audioPlayer.paused ? 'fa-play' : nowPlaying.buffering ? 'fa-shekel fa-spin' : 'fa-pause'"></i>
        <i role="menuitem" aria-label="Forward" class="control fa fa-forward" title="Forward" ng-click="skipSong()"></i>
        <div id="lesserControls">
            <i role="menuitemcheckbox" class="control fa fa-random" aria-label="Shuffle" title="Shuffle" ng-class="{'enabled': settings.shuffle}" ng-click="settings.shuffle = !settings.shuffle"></i>
            <i role="menuitemcheckbox" class="control fa fa-play-circle" aria-label="Auto-play" title="Auto-play" ng-class="{'enabled': settings.autoplay}" ng-click="settings.autoplay = !settings.autoplay"></i>
            <i role="menuitemcheckbox" class="control fa fa-retweet" aria-label="Repeat" title="Repeat" ng-class="{'enabled': settings.repeat}" ng-click="settings.repeat = !settings.repeat"></i>
        </div>
        <rzslider id="volumeBar" rz-slider-options="progressBar.volumeOptions" rz-slider-model="audioPlayer.volume"></rzslider>
        <span id="connectedDevices" ng-if="settings.connectedDevices.length > 0" ng-click="$emit('openModal', 'modals/devices?c='+Math.random());" ng-class="{'enabled': playOnDevice != null}">
            <i class="fa fa-wifi"></i> {[{playOnDevice != null ? "Playing on "+playOnDevice.name : "Connected Devices"}]}
        </span>
    </div>
    <div id="queue" class="weeBox">
        <span id="queueTitle" class="weeBoxTitle">Queue <span id="queueControls"><i aria-label="Clear Queue" class="fa fa-trash" title="Clear Queue" ng-click="queue = []"></i> <i class="fa fa-save" aria-label="Save Queue as Playlist" title="Save Queue as Playlist"></i></span></span>
        <div id="songListQueue" class="songList fancyScroll">
            <span ng-repeat="song in queue" class="song" data-id="{[{song.id}]}" data-artist="{[{song.artistID}]}" data-album="{[{song.album}]}">
                {[{song.artist}]}&nbsp;-&nbsp;{[{song.title}]}
                <span class="queueControls">
                    <i class="fa fa-chevron-up" title="Move Up" ng-click="queueMoveUp($index)"></i>&nbsp;
                    <i class="fa fa-chevron-down" title="Move Down" ng-click="queueMoveDown($index)"></i>&nbsp;
                    <i class="fa fa-times" title="Remove" ng-click="removeFromQueue($index)"></i>&nbsp;
                </span>
            </span>
            <span ng-if="settings.showShuffleQueue" ng-repeat="song in shuffleQueue" class="song shuffleQueueSong" data-id="{[{song.id}]}" data-artist="{[{song.artistID}]}" data-album="{[{song.album}]}">
                {[{song.artist}]}&nbsp;-&nbsp;{[{song.title}]}
            </span>
        </div>
    </div>
</div>
{{!
    Song context menu
}}
<ul class="fa-ul contextMenu" id="songContextMenu" ng-controller="ContextMenuController" role="menu">
    <li role="menuitem" ng-click="ctxAddToQueue($event)"><i aria-hidden="true" class="fa fa-fw fa-plus"></i> Add to Queue</li>
    <li role="menuitem" ng-click="ctxPlayNext($event)"><i aria-hidden="true" class="fa fa-fw fa-fast-forward"></i> Play Next</li>
    {{#if user}}
        <li role="menuitem" ng-click="ctxAddToPlaylist($event)"><i aria-hidden="true" class="fa fa-fw fa-plus"></i> Add to Playlist</li>
    {{/if}}
    <li role="menuitem" class="enabled" ng-click="copyShareLink($event)"><i aria-hidden="true" class="fa fa-fw fa-share-alt"></i> Copy Link</li>
    <li role="menuitem" ng-click="ctxViewAlbum($event)"><i aria-hidden="true" class="fa fa-fw fa-square"></i> Go to Album</li>
    <li role="menuitem" ng-click="ctxViewArtist($event)"><i aria-hidden="true" class="fa fa-fw fa-user"></i> Go to Artist</li>
    <li role="menuitem" ng-click="ctxSongInfo($event)"><i aria-hidden="true" class="fa fa-fw fa-info-circle"></i> Song Info</li>
</ul>
{{!
    Main container
}}
<div id="tabContainer" ng-controller="TabController">
</div>
{{!
    Modal container
}}
<div id="modalShadow" ng-controller="ModalController">
    <div id="modalBox">
    </div>
</div>
{{!
    Message container
}}
<div id="messageContainer">
    <div ng-repeat="message in messages" class="message" data-index="{[{$index}]}">
        <img ng-src="{[{message.image}]}">
        <h2 class="messageTitle">{[{message.title}]}</h2>
        <span class="messageBody">{[{message.body}]}</span>
    </div>
</div>
{{!
    Templates
}}
<script type="text/ng-template" id="loading">
    <i class="fa fa-shekel fa-spin fa-3x fa-flip-horizontal loading" aria-hidden="true"></i>
</script>
<script type="text/ng-template" id="error">
    <div id="errorBox">An error occurred loading this page.<br>Please wait a few seconds and try again.<br><span class="secondaryText">{[{message}]}</span></div>
</script>
<script>
    {{#if loadPage}}
        app.run(['$rootScope', '$templateRequest', '$compile', '$sce', function($rootScope, $templateRequest, $compile, $sce) {
            $rootScope.userLevel = {{#if user}}{{user.userlevel}}{{else}}0{{/if}};
            {{#if user}}
                $rootScope.loggedIn = true;
            {{else}}
                $rootScope.loggedIn = false;
            {{/if}}
            {{#if christmasMode}}
                $rootScope["christmas"] = true;
            {{/if}}
            var showErrorScreen = function(error){
                $templateRequest("error").then(function(template){
                    $compile($("#tabContainer").html(template).contents())($rootScope);
                }, function(error){
                    console.error("Well shit "+error);
                });
            };

            $rootScope.$on("tabControllerReady", function(){
                $templateRequest("loading").then(function(template){
                    $compile($("#tabContainer").html(template).contents())($rootScope);
                }, showErrorScreen);

                var templateUrl = $sce.getTrustedResourceUrl("{{loadPage}}");
                $templateRequest(templateUrl).then(function(template){
                    $compile($("#tabContainer").html(template).contents())($rootScope);
                }, showErrorScreen);
            });

        }]);
    {{else}}
        var tabControllerStarted = false;
        app.run(['$rootScope', function($rootScope) {
            $rootScope.userLevel = {{#if user}}{{user.userlevel}}{{else}}0{{/if}};
            {{#if user}}
                $rootScope.loggedIn = true;
            {{else}}
                $rootScope.loggedIn = false;
            {{/if}}
            {{#if christmasMode}}
                $rootScope["christmas"] = true;
            {{/if}}
            $rootScope.$on("tabControllerReady", function(){
                if(tabControllerStarted)return;
                tabControllerStarted = true;
                $rootScope.$broadcast("switchTab", {{startTab}});
            });
            {{#if playSong}}
                $rootScope.playByData({
                    id: "{{playSong.song_id}}",
                    artistID: "{{playSong.artist_id}}",
                    artist: "{{playSong.artist_name}}",
                    title: "{{playSong.title}}"
                });
            {{/if}}
        }]);
    {{/if}}

    {{#unless developmentMode}}
        app.config(['$compileProvider', function ($compileProvider) {
            $compileProvider.debugInfoEnabled(false);
        }]);
    {{/unless}}

</script>
