<!DOCTYPE html>
<html ng-app="music" lang="en">
<head>
    {{! Generic stuff}}
    <meta charset="UTF-8">
    <title>Petify</title>
    <base href="/petify/">
    <meta name="application-name" content="{{title}}">
    <meta name="description" content="A magical cloud based music streaming service">
    <meta name="format-detection" content="telephone=no">
    <link href="favicon.ico" rel="icon" id="dynamic-favicon" type="image/x-icon">
    <link href='stylesheets/style.css' rel='stylesheet'>
    {{#if christmasMode}}
        <link href='stylesheets/christmas.css' rel='stylesheet'>
    {{/if}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:type" content="music.song">
    <meta property="og:audio" content="https://unacceptableuse.com/petify/song/{{song.song_id}}">
    <meta property="og:music:duration" content="{{song.duration}}">
    <meta property="og:music:album" content="{{song.album_name}}">
    <meta property="og:music:musician:first_name" content="{{song.artist_name}}">
    <meta property="og:url" content="https://unacceptableuse.com/petify/play/{{song.song_id}}">
    <meta property="og:title" content="{{song.artist_name}} - {{song.title}}">
    <meta property="og:image" content="https://unacceptableuse.com/petify/album/{{song.album_id}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:description" content="Listen to {{song.title}} on Petify">
    <meta property="og:site_name" content="Petify">
    <meta property="og:locale" content="en_GB">
    {{!Google Analytics}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-18077037-4', 'auto');
        ga('send', 'pageview');
    </script>
    <style>
        body{
            overflow: hidden;
        }
        #albumBackground{
            background: url('album/{{song.album_id}}') no-repeat;
            background-size: cover;
            background-position-y: 50%;
            filter: blur(20px);
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -100;
        }
        #shareSongContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-items: center;
            width: 100%;
            background: rgba(0,0,0,0.7);
            height: 101%;
            top: 0;
            position:absolute;
            flex-wrap: wrap;
        }

        #shareSongTitleContainer{
            margin-left: 5%;
        }

        h1 {
            border-bottom: 1px solid grey;
        }

        .happyButton {
            top: 50px;
            position: relative;
        }
    </style>
</head>
<body>
    <div id="albumBackground"></div>
    <div id="shareSongContainer">
        <img src="album/{{song.album_id}}" title="{{song.album_name}}" aria-label="{{song.album_name}}">
        <div id="shareSongTitleContainer">
            <h1>{{song.artist_name}} - {{song.title}}</h1>
            <h3>{{song.album_name}}</h3>
            <a class="happyButton" href="play/{{song.song_id}}"><i class="fa fa-play"></i>&nbsp;Play now on Petify</a>
        </div>

    </div>
</body>
</html>
