{{#each stats}}
    {{@key}}
{{/each}}
<div class="formInputGroup">
    <h1>Most Played Songs</h1>
    {{#each stats.mostPlayedTotal}} {{!I know, I know}}
        <h3><span class="bigWord">{{total}}</span> total plays. <span class="bigWord">{{seconds}}</span> of listening.</h3>
        <h3>Average Song Duration: <span class="bigWord">{{longDuration averageDuration}}</span></h3>
    {{/each}}
    <table class="fancyTable graphedTable">
        <tr><td>Rank</td><td>Song</td><td>Plays</td><td>Time Listened</td><td>
            Percentage of total plays <span class="fiftyPercentMarker">50%</span> <span class="hundredPercentMarker">100%</span>
        </td></tr>
        {{#each stats.mostPlayed}}
            <tr>
                <td>{{@index}}</td>
                <td>{{name}}&nbsp;-&nbsp;{{title}}</td>
                <td>{{plays}}</td>
                <td>
                    {{#if seconds}}
                        {{prettyParseDuration seconds}}
                    {{else}}
                        Unknown
                    {{/if}}
                </td>
                <td style="width: {{percentage}}%; text-indent: calc({{percentage}}% + 10px);">{{percentage}}%</td></tr>
        {{/each}}
    </table>
    <h1>Most Popular Songs</h1>
    <table class="fancyTable">
        <tr><td>Rank</td><td>Song</td><td>Total Vote</td></tr>
        {{#each stats.mostPopular}}
            <tr>
                <td>{{@index}}</td>
                <td>{{name}}&nbsp;-&nbsp;{{title}}</td>
                <td>{{'SUM(up)'}}</td> {{!Could YOU be arsed going and changing that, and restarting the server again?}}

        {{/each}}
    </table>


</div>
