<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.min.css" />
<style>
    #graph {
        position: absolute;
        top: 0;
        right: 10px;
    }

    text{
        fill: white !important;
    }
</style>
<div class="formInputGroup">
    <h1>Most Played Songs</h1>
    {{#each stats.mostPlayedTotal}} {{!I know, I know}}
        <h3><span class="bigWord">{{total}}</span> total plays. <span class="bigWord">{{longDuration seconds}}</span> of listening.</h3>
        <h3>Average Song Duration: <span class="bigWord">{{longDuration averageDuration}}</span></h3>
    {{/each}}
    <table class="fancyTable graphedTable">
        <tr><td>Rank</td><td>Song</td><td>Plays</td><td>Time Listened</td><td>
            Percentage of total plays <span class="fiftyPercentMarker">50%</span> <span class="hundredPercentMarker">100%</span>
        </td></tr>
        {{#each stats.mostPlayed}}
            <tr>
                <td>{{@index}}</td>
                <td>{{name}}&nbsp;-&nbsp;{{title}}</td>
                <td>{{plays}}</td>
                <td>
                    {{#if seconds}}
                        {{prettyParseDuration seconds}}
                    {{else}}
                        Unknown
                    {{/if}}
                </td>
                <td style="width: {{percentage}}%; text-indent: calc({{percentage}}% + 10px);">{{percentage}}%</td></tr>
        {{/each}}
    </table>
    <h1>Most Played Songs (Past 30 days)</h1>
    <table class="fancyTable graphedTable">
        <tr><td>Rank</td><td>Song</td><td>Plays</td><td>Time Listened</td><td>
            Percentage of total plays (Past 30 days):<span class="fiftyPercentMarker">50%</span> <span class="hundredPercentMarker">100%</span>
        </td></tr>
        {{#each stats.mostPlayedRecently}}
            <tr>
                <td>{{@index}}</td>
                <td>{{name}}&nbsp;-&nbsp;{{title}}</td>
                <td>{{plays}}</td>
                <td>
                    {{#if seconds}}
                        {{prettyParseDuration seconds}}
                    {{else}}
                        Unknown
                    {{/if}}
                </td>
                <td style="width: {{percentage}}%; text-indent: calc({{percentage}}% + 10px);">{{percentage}}%</td></tr>
        {{/each}}
    </table>
    <h1>Most Skipped Songs</h1>
    <table class="fancyTable graphedTable">
        <tr><td>Rank</td><td>Song</td><td>Skips</td><td>Average Time Tolerated</td><td>
            Percentage of total duration before skip <span class="fiftyPercentMarker">50%</span> <span class="hundredPercentMarker">100%</span>
        </td></tr>
        {{#each stats.mostSkipped}}
            <tr>
                <td>{{@index}}</td>
                <td>{{artist}}&nbsp;-&nbsp;{{title}}</td>
                <td>{{timesSkipped}}</td>
                <td>
                    {{prettyParseDuration averageSkip}}
                </td>
                <td style="width: {{percentage}}%; text-indent: calc({{percentage}}% + 10px);">{{percentage}}%</td></tr>
        {{/each}}
    </table>
    <div id="graph">
    </div>
    <script>
       setTimeout(function(){
           d3.json('/petify/api/stats/plays', function(data) {
               data = MG.convert.date(data, 'x', d3.timeFormat("%Y-%m-%dT%H:%M:%S.000Z"));
               MG.data_graphic({
                   title: "Song plays per day",
                   data: data, //[data1, data2],
                   width: 600,
                   height: 200,
                   right: 40,
                   area: false,
                   linked: false,
                   xax_count: 4,
                   color: '#ffffff',
                   target: '#graph',
                   x_accessor: 'x',
                   y_accessor: 'y'
               });
           });
       }, 1000);

    </script>

</div>
