<div class="modalPadding">
    <h1>Devices</h1>
    <table id="deviceList">
        {{#each devices}}
            <tr>
                <td class="deviceIcon">
                    <i class="fa {{#if mobile}}fa-mobile{{else}}fa-desktop{{/if}}"></i>
                </td>
                <td class="deviceName {{#if isOnline}}online{{/if}}">
                    <span class="deviceTitle">{{name}} <span class="thisDevice" ng-if="settings.deviceID === '{{id}}'">(This Device)</span></span>
                    {{#if isOnline}}
                        <span class="deviceLastSeen">Online now.</span>
                    {{else}}
                        <span class="deviceLastSeen">Last seen {{prettyParseIntegerDuration lastSeenAt}} ago.</span>
                    {{/if}}
                </td>
                <td class="deviceControls">
                    <button class="happyButton" ng-click="setDevice('{{id}}', '{{name}}')" {{#unless isOnline}}disabled{{/unless}}><i class="fa fa-play"></i>&nbsp;Play on this device</button>
                </td>
            </tr>
        {{/each}}

    </table>
</div>