<div id="songInfoContainer" data-id="{{info.song_id}}">
    <img id="songInfoAlbumArt" src="album/{{info.album_id}}" alt="{{info.album_name}}">
    <div id="songInfoTitle" ng-controller="SongController">
        <h1>{{info.title}}</h1>
        <h2>
            <span class="moreInfo" ng-click="playArtist('{{info.artist_id}}')">{{info.artist_name}}</span>
            (<span class="moreInfo" ng-click="playGenre('{{info.genre_id}}')">{{info.genre_name}}</span>)</h2>
        <h3 class="moreInfo" ng-click="playAlbum('{{info.album_id}}')">{{info.album_name}}</h3>
        {{#if info.duration}}
        <h3>Duration: {[{ {{info.duration}} | secondsToDateTime | date:'mm:ss'}]} | Played {{plays}} times.</h3>
        {{/if}}
    </div>
    <div id="songInfoOffline" ng-controller="OfflineSongController">
        <button class="happyButton" ng-if="!availableOffline('{{info.song_id}}')"><i class="fa fa-cloud-download"></i>&nbsp;Make Available Offline</button>
    </div>
    <span class="addedBy">
        Added By
        <span class="addedByName">
            {{>user user=info}}
        </span>
    </span>
</div>
<div id="songInfoTabContainer" ng-controller="SongInfoTabController">
    <div id="songInfoTabs" class="modalTabBar">
        <a ng-repeat="tab in tabs" class="modalTab {[{tab.mode}]} {[{tab.cssClass}]}" ng-click="switchTab(tab)"><i class="fa {[{tab.icon}]}"></i>&nbsp;{[{tab.name}]}</a>
    </div>
    <div id="modalTabContainer"></div>
</div>


