{{#if info}}
<div id="songInfoContainer" data-id="{{info.song_id}}">
    <img id="songInfoAlbumArt" src="album/{{info.album_id}}" alt="{{info.album_name}}">
    <div id="songInfoTitle">
        <h1>{{info.title}}</h1>
        <h2>{{info.artist_name}} ({{info.genre_name}})</h2>
        <h3>{{info.album_name}}</h3>
        <h3>{[{ {{info.duration}} | secondsToDateTime | date:'mm:ss'}]}</h3>
    </div>
    <span class="addedBy">
        Added By
        <span class="addedByName">
            {{>user user=info}}
        </span>
    </span>
</div>
<div id="songInfoTabContainer" ng-controller="SongInfoTabController">
    <div id="songInfoTabs" class="modalTabBar">
        <a ng-repeat="tab in tabs" class="modalTab {[{tab.mode}]} {[{tab.cssClass}]}" ng-click="switchTab(tab)"><i class="fa {[{tab.icon}]}"></i>&nbsp;{[{tab.name}]}</a>
    </div>
    <div id="modalTabContainer"></div>
</div>
{{else}}
    I don't know what you just did but whatever song you clicked on doesn't exist. I'll fix it eventually.<br>
{{/if}}

