<div id="songInfoContainer">
    <img id="songInfoAlbumArt" src="album/{{info.album_id}}" alt="{{sanitised info.album_name}}">
    <div id="songInfoTitle">
        <h1>{{sanitised info.title}}</h1>
        <h2>{{sanitised info.artist_name}} ({{sanitised info.genre_name}})</h2>
        <h3>{{sanitised info.album_name}}</h3>
        <h3>{[{ {{sanitised info.duration}} | secondsToDateTime | date:'mm:ss'}]}</h3>
    </div>
    <span class="addedBy">
        Added By
        <span class="addedByName">
            {{>user user=info}}
        </span>
    </span>
</div>
<div id="songInfoTabContainer">
    <div id="songInfoTabs" class="modalTabBar">
        <a class="modalTab"><i class="fa fa-list"></i>&nbsp;Playlists</a>
        <a class="modalTab userlevel-2"><i class="fa fa-copy"></i>&nbsp;Replace</a>
        <a class="modalTab userlevel-2"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
        <a class="modalTab userlevel-3"><i class="fa fa-trash"></i>&nbsp;Delete</a>

    </div>
    <div id="modalTabContainer">

    </div>
</div>

