<div>
    <h2>Import Song</h2>
    <h3>You can import songs from most popular sites such as youtube or soundcloud. The song must be available to stream in the servers country.</h3>
    <form name="addSongForm" method="POST" action="/templates/add/song">
        <input id="songUrl" type="url" name="url" class="fancyInput" required placeholder="Source URL">
        <div class="dropdownWithName">
            <label for="songFolder" class="dropdownName">Destination Folder</label>
            <select id="songFolder" class="dropdownBox" name="songFolder" required>
                {{#each folders}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div><br><br>
        <input id="pullSongData" name="getLastfmData" type="checkbox" checked>
        <label for="pullSongData">Pull song data from last.fm</label>
        <input type="submit" value="&#61677; Add to Download Queue" class="happyButton downloadButton">
    </form>

    <h2>Import Queue</h2>
    <table class="fancyTable">
        <tr><td>Artist</td><td>Title</td><td>Source</td><td>Status</td><td>Added By</td></tr>
        {{#each queue}}
            <tr class="song"><td>{{artist}}</td><td>{{title}}</td><td>{{url}}</td><td>{{status}}</td><td>
                <span class="addedBy">
                    <span class="addedByName">
                        <img class="avatar" src="{{addedBy.avatar}}">{{addedBy.name}}
                    </span>
                </span>
            </td></tr>
        {{/each}}
    </table>
</div>
